<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t %c{5} %m %n" />
		</layout>
	</appender>
	
	<appender name="root_log" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="threshold" value="warn"/>
		<param name="Encoding" value="UTF-8"/>
		<param name="file" value="${catalina.home}/logs/root.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t %C %m %n" />
		</layout>
	</appender>
	
	<appender name="appl_log" class="org.apache.log4j.DailyRollingFileAppender">
 		<param name="Threshold" value="info"/>
 		<param name="Encoding" value="UTF-8"/>
		<param name="File" value="${catalina.home}/logs/appl.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %t %C %m %n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.ippoippo.morrison">
		<appender-ref ref="appl_log" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<appender-ref ref="root_log" />
	</root>
	
</log4j:configuration>
